:host {
    display: block;
    background-color: #1e1e2f;
    padding: 2rem;
    border-radius: 55px;
    width: 430px;
    height: 932px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
}

.img-section {
    margin-top: 2rem;
}

.img-section img {
    border-radius: 10px;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.dot {
    font-size: 1.2rem;
}

.dot.green {
    color: rgba(88, 214, 141);
}

.dot.yellow {
    color: rgba(255, 202, 40);
    padding-left: 1rem;
}

.dot.red {
    color: red;
    padding-left: 1rem;
}

.description-section {
    margin-top: 2.5rem;
}

.description-section .title {
    font-size: 1rem;
}

.description-section .subtitle {
    margin-top: 0.75rem;
}

.footer-section {
    width: 100%;
    margin-top: 2rem;
}

.begin-btn {
    background: linear-gradient(90deg, rgba(22, 160, 133, 1) 0%, rgba(88, 214, 141, 1) 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}