:host {
    position: relative;
    display: block;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border: 1px solid gray;
    border-radius: 55px;
    width: 430px;
    height: 932px;
    font-size: 14px;
    font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
}

.header-section {
    margin-bottom: 1rem;
    text-align: center;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.title {
    color: #1A5276;
    font-size: 24px;
}

.trip-info {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 15px;
    display: flex;
}

.destination, .dates {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    flex: 1;
    padding: 0.5rem 1rem;
}

.destination {
    padding-right: 0.5rem;
}

.dates {
    padding-left: 0.5rem;
}

.dates p {
    padding-top: 2px;
}

.trip-info lightning-icon {
    --sds-c-icon-color-foreground-default: #1A5276;
}

.dots {
    text-align: center;
    margin-top: 0.75rem;
}

.dot {
    font-size: 22px;
}

.dot.green {
    color: #17A589;
}

.dot.yellow {
    color: rgba(255, 202, 40);
    padding-left: 1rem;
}

.dot.red {
    color: red;
    padding-left: 1rem;
}

.events {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1.5rem;
}

.event-card {
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 15px;
    background: #F7F9F9;
    position: relative;
}

.details {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 0.75rem;
}

img {
    width: 70px;
    height: 60px;
    border-radius: 15px;
}

.details .name {
    font-size: 1rem;
    font-weight: 600;
}

.action-btn {
    background: #17A589;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    font-size: 13px;
}

.action-btn.self-organised {
    margin-left: auto;
}

.price {
    font-size: 1.5rem;
    align-self: center;
    margin-left: auto;
    margin-right: 0.5rem;
    font-weight: 600;
}

.hours {
    /* color: gray; */
}

.footer {
    margin-top: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.source {
    font-size: 11px;
    border: 1px solid lightgray;
    padding: 0.125rem 0.5rem;
    border-radius: 10px;
}

.source span {
    font-size: 12px;
    font-weight: 600;
}

.stars {
    display: flex;
    gap: 0.25rem;
}

.stars lightning-icon {
    --sds-c-icon-color-foreground-default: #F1C40F;
}

.event-label {
    position: absolute;
    top: -12px;
    left: 16px;
    font-size: 12px;
    font-weight: 600;
    padding: 0.125rem 1rem;
    border-radius: 8px;
}

.event-label.partner {
    color: white;
    background: #c72a3d;
}

.event-label.self-organised {
    background: white;
    border: 1px solid lightgray;
}

.activity-types {
    display: flex;
    justify-content: center;
}

.activity-types .type {
    padding: 0.125rem 0.5rem;
    width: 120px;
    text-align: center;
}

.activity-types .type.guided {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    background: #c72a3d;
    padding-right: 0.5rem;
    font-weight: 600;
}

.activity-types .type.self-organised {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
    border: 1px solid lightgray;
    padding-left: 0.5rem;
}